@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: rgb(230, 229, 229);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
  @apply mx-auto flex min-h-screen min-w-screen flex-col justify-center bg-amber-600/0;
}

.btn {
  @apply cursor-pointer rounded-full bg-yellow-400 px-3 py-2 text-xs font-bold tracking-wider uppercase hover:bg-blue-400;
}

.textField {
  @apply mb-6 w-full rounded border border-gray-200 px-3 py-2 shadow;
}

.service {
  @apply mb-5 flex flex-col px-5 py-5 md:flex-row;
}
