@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import 'tailwindcss';

:root {
--background: rgb(230, 229, 229);
--foreground: #171717;
--main-font: 'Playfair Display', serif;
}

body {
background: var(--background);
color: var(--foreground);
font-family: var(--main-font), Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
.menu-toggle {
display: block !important;
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
cursor: pointer;
font-size: 30px;
color: #fff;
z-index: 9999;
}

.menu {
display: none !important;
flex-direction: column;
gap: 20px;
text-align: center;
background: rgba(0, 0, 0, 0.9);
position: absolute;
top: 140px;
right: 0;
left: 0;
padding: 20px;
z-index: 9998;
}

.menu.active {
display: flex !important;
}
}

/* تأكد من ظهور القائمة دائمًا على سطح المكتب */
@media (min-width: 769px) {
.menu {
display: flex !important;
flex-direction: row;
gap: 40px;
align-items: center;
}
}